* {
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: Roboto, monospace;
    background-color: #E6E6FA;
    font-size: 16px;
    min-height: 100vh;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header,
.footer {
    margin: 0; padding: 0;
    background-color: #AFEEEE;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    color: #000000;
}

.out-link {
    color: #000000;
}

.section-title {
    background-color: #DDA0DD;
}

h4, h5 {
    margin: 1% 0% 1% 0%;
}

h5 {
    font-style: italic;
}

mark {
    background-color: #AFEEEE;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
}

.profile-photo {
    width: 80%;
    height: 80%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%; 
    border: 0.8em solid #DDA0DD;
}

.contact-icon {
    width: 5%;
    height: 5%;
    max-width: 50px;
    max-height: 50px;
}
.contacts {
    margin: 0; 
    padding: 4px; 
}

.contacts li {
    display: inline;
    margin-right: 5px; 
}

.rs-school-js-image {
    width: 50%;
    height: 50%;
    max-width: 300px;
    max-height: 300px;
}

.rs-school-js {
    float: right;
    margin: 20px;
}

.my-github-acc-image {
    width: 10%;
    height: 10%;
    max-width: 100px;
    max-height: 100px;
}

.my-github-acc {
    margin: 20px;
}


